

mixin make_paginator()
	if pager.has_pre or pager.has_next
		div.clear
		.pager
			if pager.has_pre
				a.pre(href=pager.pre_page_url)= '上一页' if lang=='zh_cn' else 'Pre Page'
			else
				span.pre.unavailable= '已是最新一页' if lang=='zh_cn' else 'Already First'
			if pager.has_next
				a.next(href=pager.next_page_url)= '下一页' if lang=='zh_cn' else 'Next Page'
			else
				span.next.unavailable= '已是最后一页' if lang=='zh_cn' else 'Already Last'


mixin make_posts_list(_posts=None)
	if _posts
		posts = _posts
	.posts
		for post in posts
			.post
				h2.title
					a(href=post.url, title=post.title)= post.title
				.info
					span.date= post.date.format('%Y.%m.%d')
					|
					span.visitors
						if lang == 'zh_cn'
							| {{post.visits}}次阅读
						else
							| {{post.visits}} visits

					path_parts = post.full_path.split('/')
					if path_parts.length > 2
						category_path = path_parts[1]
						a(href="/category/{{category_path}}")= category_path

					if post.tags
						|
						span.tags
							for tag in post.tags
								a(href="/tags/{{tag}}")= tag
	+make_paginator()

