extends base.jade
block content
	.posts
		for post in posts
			.post
				h2.title
					a(href=post.url)= post.title
				.meta
					span.date= post.date.format('%Y.%m.%d')
				.content= post.content.limit(150)

	if paginator.has_next or paginator.has_pre
		.pager
			if paginator.has_pre
				a.pre(href=paginator.pre_page_url) Pre
			if paginator.has_next
				a.next(href=paginator.next_page_url) Next
